# .github/workflows/ci.yml

name: CI - BDD + k6 Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run BDD Tests (UI + API)
        run: npm run test:bdd

      - name: Generate Cucumber Report
        run: npm run report

      - name: Run k6 Load Test → Grafana Cloud
        run: k6 cloud performance-tests/load.js
        env:
          K6_CLOUD_PROJECT_ID: 6283091

      - name: Run k6 Spike Test → Grafana Cloud
        run: k6 cloud performance-tests/spike.js
        env:
          K6_CLOUD_PROJECT_ID: 6283091

      - name: Upload Cucumber Report
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report
          path: reports/html-report/

      - name: Upload k6 Load Report
        uses: actions/upload-artifact@v4
        with:
          name: k6-load-report
          path: reports/k6-load-report.html

      - name: Upload k6 Spike Report
        uses: actions/upload-artifact@v4
        with:
          name: k6-spike-report
          path: reports/k6-spike-report.html